.intro {
  width: 100%;
  height: 400px;
  background-image: url("images/rainbow.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  color: yellowgreen;
}

body {
  background-color: green;
}
