@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&family=Six+Caps&display=swap");
.welcome {
  background-image: url(../img/view.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.welcome h1 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #223843;
  line-height: 2;
  text-align: center;
}

.welcome h1 span {
  font-size: 5.5rem;
  letter-spacing: 0.6em;
  color: #03AFC2;
  text-transform: uppercase;
  line-height: 1;
  font-family: "Six Caps", sans-serif;
  display: block;
}

.welcome h1::before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 50%;
  height: 1px;
  background: #223843;
}

body {
  color: #A7A7A7;
  font-family: "Merriweather", sans-serif;
  line-height: 1.6;
  background: #FFFFFF;
  font-size: 0.875rems;
}

img {
  max-width: 100%;
}

h1, h2, p {
  margin-top: 0;
  margin-bottom: 1em;
}

h1 {
  color: #03AFC2;
  line-height: 1;
  font-size: 3.125rem;
}

h2 {
  font-size: 2rem;
  letter-spacing: 0.6em;
  color: #606060;
  text-transform: uppercase;
  line-height: 1;
  font-family: "Six Caps", sans-serif;
}
